@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500&family=Dancing+Script&family=Montserrat:ital,wght@1,700&family=Poppins&family=Zen+Dots&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .strike-through{
        position: relative;
    }
    .strike-through:after{
        background: none repeat scroll 0 0 transparent;
        bottom:0;
        content: "";
        display: block;
        height:1px;
        left:50%;
        top:50%;
        position: absolute;
        background: black;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width:0;
    }
    .strike-through:hover:after{
        width:100%;
        left:0;
    }
    .line{
        height: 2px;
        margin-top: 7px;
    }
    .strike-throughtwo{
        position: relative;
    }
    .strike-throughtwo:after{
        background: none repeat scroll 0 0 transparent;
        bottom:0;
        content: "";
        display: block;
        height:1px;
        left:50%;
        top:50%;
        position: absolute;
        background: #eee7e1;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width:0;
    }
    .strike-throughtwo:hover:after{
        width:100%;
        left:0;
    }
}

.splash::before{
    content: '';
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #1a1818 5%, #1a1818 100%);
    animation: animate 5s linear forwards;
}

@keyframes animate{
    0%{
        left: 100%
    }100%{
        left: -20%;
    }
}

.animatebg{
    animation: animi 1s linear forwards;
}

@keyframes animi {
    0%{
        background-color: #1a1818;
    }
    100%{
        background-color: #eee7e1;
    }
}